/* TODO : CSS파일을 편집하여 원하는 스타일의 계산기를 만들어보세요 :) */

/* global */
* {
  margin: 0;
  padding: 0;
  border: 0px;
  box-sizing: border-box;
  font-family: 'monospace', cursive;
  color: #000;
}

body {
  background-image: url('./data/codestates-motif.png');
}

/*
  Calculator styles
*/

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #001a33;
  width: 450px;
  height: 500px;
  border-radius: 30px;
  padding: 20px 20px;
  border:solid 10px #800080;
  border-bottom:solid 10px #800080;

}

.calculator__display--bare {
  /* display: none; */
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  height: 100px;
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  padding: 25px 15px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.calculator__display--bare > span {
  display: inline-block;
  text-align: center;
  background-color: #f3f0fc;
  margin: 5px;
  width: 40px;
  height: 45px;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 5px;
}

.calculator__display--for-advanced {
  display: none; /* 이 줄을 모두 지우면 advanced 테스트를 하실 수 있습니다.*/
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 25px 15px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.calculator__buttons {
  background-color: #ffffff;
  width: 100%;
  height: 330px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

.clear__and__enter {
  height: 50px;
  margin: 10px;
  background-color: #f3f0fc;
}

.clear__and__enter > button {
  border-radius: 10px;
  width: 50px;
  height: 40px;
  /* margin: 0px 5px; */
  background-color: #c469e7;
  cursor: pointer;
  outline: none;
  border-bottom: 5px solid #35046e;
}

.button__row {
  height: 50px;
  margin: 10px;
  background-color: #f3f0fc;
}

.button__row > button {
  width: 50px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  background-color: #ebebeb;
}

.button__row > .operator {
  color: #ffffff;
  background-color: #313132;
}

.button__row > .double {
  width: 115px;
}

.button__row > .isPressed {
  background-color: #00da75;
}

.logo {
  position: fixed;
  padding: 30px;
  bottom: 0px;
  right: 0px;
}
