/* CSS로 꾸미기 전에 각 영역에 고유한 색상을 지정한다
눈에 보이지 않는 영역을 구분하기 위해 한순한 생삭을 주로 사용. */
/* 
<CSS의 구성 문법>

- selector = > body 
  selector는 태그 이름이다 id or class를 선택한다. selector로 특정 요소를 선택하고, 중괄호 안에서 이 요소에 적용할 내용을 작성한다.
- { } = > Declaration block
- color : red; => Property : Value => Declaration 
  이 element의 색상을 빨간색으로 스타일링 한다.*/
  


body{ /*Selector*/
    margin: 0;
    padding:0;
    background: #fff;
    color: #4a4a4a;
}
header,footer{
    font-size:large;
    text-align:center;
    padding:0.3em 0;
    background-color:#4a4a4a;
    color:#f9f9f9;
}
nav {
    background:#eee;
}
main{
    background:#9f9f9f;
}
aside{
    background:#eee;
}
